.App {
  text-align: center;
  background-color: #a5a58d;
  height: 100vh;
}

.unordered {
  border: 1px solid #ccc;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #f1faee;
  border-radius:20px;
}
